# 1. 숫자
+ int
+ float

In [1]:
a = 3
b = 3.0

In [2]:
print('a의 타입은 {}'.format(type(a)))
print('b의 타입은 {}'.format(type(b)))

a의 타입은 <class 'int'>
b의 타입은 <class 'float'>

In [3]:
c = a + b
print('c의 타입은 {}'.format(type(c)))

c의 타입은 <class 'float'>

In [4]:
d = int(c)
print(d)
print('d의 타입은 {}'.format(type(d)))

6
d의 타입은 <class 'int'>

In [5]:
e = float(5)
print(e)
print('e의 타입은 {}'.format(type(e)))

5.0
e의 타입은 <class 'float'>

# 2. 문자
### 2-1. string?

In [6]:
f = '문자형 예시입니다.'
print(f)
print('f의 타입은 {}'.format(type(f)))

문자형 예시입니다.
f의 타입은 <class 'str'>

In [7]:
따옴표 = '문장안에 따옴표를 쓰고 싶다면? "" 번갈아 쓰면 됩니다.'
print(따옴표)

문장안에 따옴표를 쓰고 싶다면? "" 번갈아 쓰면 됩니다.

In [8]:
escape = "또 다른 방법은 escape 문자인 \" \\ \"(역슬래시 혹은 원화표시) 를 이용하는 것입니다."
print(escape)

또 다른 방법은 escape 문자인 " \ "(역슬래시 혹은 원화표시) 를 이용하는 것입니다.

### 2-2. str의 형 변환

In [9]:
g = 3
h = '3'
print('g의 타입은 {}'.format(type(g)))
print('h의 타입은 {}'.format(type(h)))

g의 타입은 <class 'int'>
h의 타입은 <class 'str'>

In [10]:
i = str(g)
j = int(i)
print('i의 타입은 {}'.format(type(i)))
print('j의 타입은 {}'.format(type(j)))

i의 타입은 <class 'str'>
j의 타입은 <class 'int'>

### 2-3. str의 연산

In [11]:
str_1 = '문자'
str_2 = '의 연산'
result = str_1 + str_2
result

'문자의 연산'

In [12]:
str_3 = '더하기'
result += str_3
result

'문자의 연산더하기'

In [13]:
str_4 = '곱하기'
print(str_4 * 5)

곱하기곱하기곱하기곱하기곱하기

In [14]:
int_1 = 8
error = str_1 + int_1

TypeError: can only concatenate str (not "int") to str

### 2-4. 인덱싱과 슬라이싱

In [15]:
str_5 = '인덱싱을 하기 위한 string입니다.'
len(str_5)

21

In [16]:
str_5[2]

'싱'

In [17]:
str_5 = '인덱싱을 하기 위한 string입니다.'
str_5[2:7]

'싱을 하기'

In [18]:
str_5 = '인덱싱을 하기 위한 string입니다.'
print(str_5[:3])

인덱싱

In [19]:
print(str_5[18:])

니다.

In [20]:
print(str_5[:])

인덱싱을 하기 위한 string입니다.

In [21]:
print(str_5[-1])

.

In [22]:
print(str_5[::-1])

.다니입gnirts 한위 기하 을싱덱인

### 2-5. string의 method
+ 대소문자 변환하기

In [23]:
str_6 = 'Alphabet'
print(str_6.lower())

alphabet

In [24]:
print(str_6.upper())

ALPHABET

+ 문자 갯수 세기

In [25]:
str_6.count('a')

1

+ 문자의 위치 찾기

In [26]:
str_6 = 'Alphabet'
str_6.find('t')

7

In [27]:
str_6.find('z')

-1

In [28]:
str_6.index('t')

7

In [29]:
str_6.index('z')

ValueError: substring not found

+ 문자열 삽입하기

In [30]:
str_7 = 'abcd'
','.join(str_7)

'a,b,c,d'

+ 문자열 바꾸기

In [31]:
str_8 = 'Life is C between B and D'
str_8.replace('C', 'Chicken')

'Life is Chicken between B and D'

+ 문자열 나누기

In [32]:
str_8.split(' ')

['Life', 'is', 'C', 'between', 'B', 'and', 'D']

In [33]:
print(dir(str_8))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# 3. 리스트
### 3-1. list 선언

In [34]:
list_1 = []

In [35]:
list_2 = list()

In [36]:
print('list_1의 타입은 ' + str(type(list_1)))
print('list_2의 타입은 ' + str(type(list_2)))

list_1의 타입은 <class 'list'>
list_2의 타입은 <class 'list'>

In [37]:
list_3 = [1, 2, '문자', ['이중 리스트', '가능'], ('리스트 속', '튜플')]

In [38]:
list_3[3]

['이중 리스트', '가능']

In [39]:
list_3[4][1]

'튜플'

### 3-2. list의 연산

In [40]:
list_4 = ['a', 'b', 'c']

In [41]:
list_5 = ['가', '나', '다']

In [42]:
list_4 + list_5

['a', 'b', 'c', '가', '나', '다']

In [43]:
list_4 * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

### list의 메소드
+ append

In [44]:
list_6 = ['파이썬', 'C', 'java']

In [45]:
list_6.append('R')
list_6

['파이썬', 'C', 'java', 'R']

+ insert

In [46]:
list_6.insert(2, 'C++')
list_6

['파이썬', 'C', 'C++', 'java', 'R']

In [47]:
list_6[0] = 'Python'
list_6

['Python', 'C', 'C++', 'java', 'R']

In [48]:
list_6.append('C')

In [49]:
list_6

['Python', 'C', 'C++', 'java', 'R', 'C']

+ remove

In [50]:
list_6.remove('C')
list_6

['Python', 'C++', 'java', 'R', 'C']

In [51]:
list_6.pop()

'C'

In [52]:
list_6

['Python', 'C++', 'java', 'R']

+ sort

In [58]:
list_7 = [1,5,7,2,6]

In [59]:
list_7.sort()
list_7

[1, 2, 5, 6, 7]

+ reverse

In [60]:
list_7.reverse()
list_7

[7, 6, 5, 2, 1]

# 4. 튜플
### 4-1. tuple의 선언

In [57]:
tuple_1 = ()
tuple_2 = tuple()

In [61]:
tuple_3 = (1, 2)
tuple_4 = (3,)
tuple_5 = (4, 5, (6, 7))
tuple_6 = 8, 9, 10


+ tuple의 특징 : 삽입/삭제/수정이 불가능

In [62]:
tuple_3 = (1, 2)
tuple_3[0] = 3

TypeError: 'tuple' object does not support item assignment

### 4-2. tuple의 연산

In [64]:
tuple_3 = (1, 2)
tuple_4 = (3, )
tuple_3 + tuple_4

(1, 2, 3)

In [65]:
tuple_4 * 2

(3, 3)

# 5. 딕셔너리
### 5-1. dictionary의 선언

In [67]:
dict_1 = {'key' : 'value'}
dict_2 = dict()

### 5-2.  dictionary 삽입, 삭제, 수정

In [85]:
dict_3 = {'홍길동' : 100, '홍계월' : 200}

In [86]:
dict_3['리정혁'] = 300
dict_3

{'홍길동': 100, '홍계월': 200, '리정혁': 300}

In [87]:
del dict_3['리정혁']
dict_3

{'홍길동': 100, '홍계월': 200}

In [88]:
dict_3['홍길동'] = 1
dict_3

{'홍길동': 1, '홍계월': 200}

### 5-3. dictionary에 접근하기

+ key에 접근하기

In [89]:
dict_3 = {'홍길동' : 100, '홍계월' : 200, '리정혁' : 150, '윤세리' : 250}
print(dict_3.keys())
print(type(dict_3.keys()))

dict_keys(['홍길동', '홍계월', '리정혁', '윤세리'])
<class 'dict_keys'>

+ value에 접근하기

In [90]:
print(dict_3.values())
print(type(dict_3.values()))

dict_values([100, 200, 150, 250])
<class 'dict_values'>

+ key와 value에 함께 접근하기

In [91]:
print(dict_3.items())
print(type(dict_3.items()))

dict_items([('홍길동', 100), ('홍계월', 200), ('리정혁', 150), ('윤세리', 250)])
<class 'dict_items'>

+ key를 이용하여 value에 접근하기

In [92]:
list(dict_3.keys())[0]

'홍길동'

In [96]:
dict_3

{'홍길동': 100, '홍계월': 200, '리정혁': 150, '윤세리': 250}

In [97]:
print(dict_3['윤세리'])
print(dict_3.get('윤세리'))

250
250

In [98]:
print(dict_3['펭수'])

KeyError: '펭수'

In [99]:
print(dict_3.get('펭수'))

None

# 6. 셋
### 6-1. set의 선언

In [103]:
set_1 = set()
set_2 = set('Hello')
set_3 = set([1, 2, 3])
set_4 = {3,5, 'hi'}

In [104]:
set_2

{'H', 'e', 'l', 'o'}

In [105]:
set_3

{1, 2, 3}

In [106]:
set_4

{3, 5, 'hi'}

### 6-2. set의 연산

In [107]:
set_5 = {1,2,3,4}
set_6 = {4,5,6,7}

In [109]:
set_5 & set_6

{4}

In [110]:
set_5.intersection(set_6)

{4}

In [113]:
set_5 | set_6

{1, 2, 3, 4, 5, 6, 7}

In [114]:
set_5.union(set_6)

{1, 2, 3, 4, 5, 6, 7}

In [111]:
set_5 - set_6

{1, 2, 3}

In [112]:
set_5.difference(set_6)

{1, 2, 3}

### 6-3. set의 method

+ add

In [116]:
set_6 = {4, 5, 6, 7}
set_6.add(8)
set_6

{4, 5, 6, 7, 8}

+ update

In [118]:
set_6.update([1,2,3])
set_6

{1, 2, 3, 4, 5, 6, 7, 8}

+ remove

In [121]:
set_6.remove(3)
set_6

{1, 2, 4, 5, 6, 7, 8}

# 7. bool

In [53]:
True

True

In [54]:
type(False)

bool

In [55]:
1 == 1

True

In [56]:
1 > 2

False