### 1. enumerate

여기는 동네 유명한 빵집이다. 사람들에게 먼저 온 순서대로 번호표를 나누어주려고 한다. 번호표를 나누어주는 함수를 작성해보자.  
함수는 사람이름으로 되어 있는 리스트를 받아서 "대기번호 x번 : 사람이름" 를 화면에 출력하고 (번호표, 사람이름)을 원소로하는 이루어진 리스트를 반환한다. 
- input : 리스트
- output : 리스트

In [1]:
people = ['펭수', '뽀로로', '뚝딱이', '텔레토비']

In [2]:
def func1(line) :
    new_lines = []
    i = 1
    for x in line :
        print("대기번호 %d번 : %s" %(i, x))
        new_lines.append((i, x))
        i += 1
    return new_lines

In [3]:
lines = func1(people)

대기번호 1번 : 펭수
대기번호 2번 : 뽀로로
대기번호 3번 : 뚝딱이
대기번호 4번 : 텔레토비

In [4]:
lines

[(1, '펭수'), (2, '뽀로로'), (3, '뚝딱이'), (4, '텔레토비')]

#### enumerate를 이용하면 좀 더 쉽게 구현 할 수 있다.

In [5]:
lst = ['a','b','c']
for x in enumerate(lst) :
    print(x)

(0, 'a')
(1, 'b')
(2, 'c')

In [6]:
dic = {0 : 'p', 1 : 'b' , 2 : 'd'}

for x in enumerate(dic):
    print(x)

(0, 0)
(1, 1)
(2, 2)

In [7]:
st = 'abcd'

for x in enumerate(st) :
    print(x)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [8]:
se = {'a','b','c'}
for x in enumerate(se) :
    print(x)

(0, 'a')
(1, 'c')
(2, 'b')

#### 적용해보기

In [9]:
def func1_with_enu(line) :
    new_lines = []
    for idx, val in enumerate(line):
        print("대기번호 %d번 : %s" %(idx+1, val))
        new_lines.append((idx+1,val))
    return new_lines

In [10]:
def func2_with_enu(line) :
    new_lines = []
    for x in enumerate(line):
        idx = x[0]
        val = x[1]
        print("대기번호 %d번 : %s" %(idx+1, val))
        new_lines.append((idx+1,val))
    return new_lines

In [11]:
lines = func1_with_enu(people)

대기번호 1번 : 펭수
대기번호 2번 : 뽀로로
대기번호 3번 : 뚝딱이
대기번호 4번 : 텔레토비

In [12]:
lines2 = func2_with_enu(people)

대기번호 1번 : 펭수
대기번호 2번 : 뽀로로
대기번호 3번 : 뚝딱이
대기번호 4번 : 텔레토비

### 2. zip

In [13]:
str_list = ['one', 'two', 'three', 'four']
num_list = [1, 2, 3, 4]

for i in zip(num_list, str_list) :
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')

In [14]:
s1 = '123'
s2 = 'abc'
s3 = 'ㄱㄴㄷ'
list(zip(s1,s2,s3))

[('1', 'a', 'ㄱ'), ('2', 'b', 'ㄴ'), ('3', 'c', 'ㄷ')]

### 3. lambda

In [15]:
def plus_two(num) :
    return num + 2

In [16]:
a = 2
b = plus_two(a)
print(b)

4

In [17]:
lambda x : x + 2

In [18]:
func2 = lambda x : x + 2

In [19]:
c = func2(2)

In [20]:
c

4

### 4. map

In [21]:
items = [x for x in range(1, 6)]
print(items)

[1, 2, 3, 4, 5]

In [22]:
squared = []
for i in items :
    squared.append(i*i)

In [23]:
print(squared)

[1, 4, 9, 16, 25]

In [24]:
squared_map = list(map(lambda x : x**2, items))

In [25]:
print(squared_map)

[1, 4, 9, 16, 25]

### 5. list comprehension
#### 1) for 문
0부터 9까지를 순서대로 가지고 있는 리스트를 만드세요

In [26]:
list_1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list_2 = []
for x in range(10) :
    list_2.append(x)
print(list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### list comprehension를 이용하면 좀 더 쉽게 구현 할 수 있다.

In [28]:
lc_1 = [x for x in range(10)]
print(lc_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 적용해보기
1. 구구단 2단을 list comprehension을 이용하여 구현해보자.

In [29]:
tables = [2 * x for x in range(1,10)]
print(tables)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

2. 다음의 문장을 분석해보자.  
" 여기는 대덕테크비즈센터TBC 건물 지하 1층 입니다. 우리는 파이썬을 배우고 있습니다." 라는 문장을 띄어쓰기별로 분석하려고 한다.  
띄어쓰기별로 문장을 나눈 후 각 요소의 길이를 리스트에 저장하라.

In [30]:
sentence = "여기는 대덕테크비즈센터TBC 건물 지하 1층 입니다. 우리는 파이썬을 배우고 있습니다."

In [31]:
len_sent = [len(s) for s in sentence.split()]

In [32]:
print(len_sent)

[3, 11, 2, 2, 2, 4, 3, 4, 3, 5]

3. 응용하기  
위에서 작성한 func1_with_enu를 list comprehension을 이용하여 작성해보자.  
단, 출력은 하지 않고 (대기번호, 사람이름) 리스트만 반환하도록 함수를 수정해보자.

In [33]:
def func1_with_lc(line) :
    new_lines = [(idx+1, val) for idx, val in enumerate(line)]
    return new_lines

In [34]:
line = func1_with_lc(people)

In [35]:
print(line)

[(1, '펭수'), (2, '뽀로로'), (3, '뚝딱이'), (4, '텔레토비')]

#### 2) for 문 + if 문  
10부터 20 사이의 숫자들 중에서 짝수만을 담은 리스트를 만들어보자.

In [36]:
list_3 = []
for x in range(10, 21) :
    if x % 2 == 0 :
        list_3.append(x)
print(list_3)

[10, 12, 14, 16, 18, 20]

In [37]:
lc_2 = [x for x in range(10, 21) if x % 2 == 0 ]

In [38]:
lc_2

[10, 12, 14, 16, 18, 20]

#### 적용해보기
1. 1부터 10의 제곱수 중, 50 이하인 수만 리스트에 저장하라.

In [39]:
lc_3 = [x**2 for x in range(1,11) if x**2 <= 50]
print(lc_3)

[1, 4, 9, 16, 25, 36, 49]

2. 다음의 문장을 분석해보자.  
" 여기는 대덕테크비즈센터TBC 건물 지하 1층 입니다. 우리는 파이썬을 배우고 있습니다." 라는 문장을 띄어쓰기별로 분석하려고 한다.  
띄어쓰기별로 문장을 나눈 후 각 요소의 길이가 5미만인 것들만 리스트에 저장하라.

In [40]:
sentence = "여기는 대덕테크비즈센터TBC 건물 지하 1층 입니다. 우리는 파이썬을 배우고 있습니다."

In [41]:
len_condition = [s for s in sentence.split() if len(s) < 5]

In [42]:
len_condition

['여기는', '건물', '지하', '1층', '입니다.', '우리는', '파이썬을', '배우고']

#### 3) for 문 +  if / else 문
1부터 10 사이의 숫자들을 홀수이면 제곱수를, 짝수이면 세제곱수를 저장하라.

In [43]:
list_4 = []
for x in range(1, 11) :
    if x % 2 == 1 :
        list_4.append(x ** 2)
    else :
        list_4.append(x ** 3)

In [44]:
list_4

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000]

In [45]:
lc_4 = [x ** 2 if x % 2 == 1 else x ** 3 for x in range(1 , 11)]

In [46]:
lc_4

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000]

#### 적용해보기
1. 40 이하의 숫자는 5를 더하고, 40 초과의 숫자는 41로 바꾸어 저장하고 이를 출력하라.

In [47]:
list_5 = [12, 67, 32, 48, 19, 57, 29, 49]

In [48]:
lc_5 = [x+5 if x <= 40 else 41 for x in list_5]
print(lc_5)

[17, 41, 37, 41, 24, 41, 34, 41]

2. 컷트라인이 60점일때, 사람이름과 통과여부를 리스트로 담아서 출력하라.  
이름과 통과여부는 튜플로 묶어있는 자료이다.

In [49]:
students = {"보라돌이" : 61,
            "뚜비" : 35,
            "나나" : 78,
            "뽀" : 88}

In [50]:
result = [(name, True) if score >= 60 else (name, False) for name, score in students.items()]

In [51]:
result

[('보라돌이', True), ('뚜비', False), ('나나', True), ('뽀', True)]